{% extends "base.html" %}

{% block content %}
<h2 id="title">AI Act</h2>
<ul>
    <div id="main-content">


			
        <article id="post-2488" class="post-2488 page type-page status-publish hentry">

        
            <div class="entry-content">
            <div class="et-l et-l--post">
    <div class="et_builder_inner_content et_pb_gutters3">
<div class="et_pb_section et_pb_section_0 et_section_regular">
        
        
        
        
        
        
        <div class="et_pb_row et_pb_row_0 et_pb_equal_columns et_pb_row_1-4_1-2_1-4">
            <div class="begin et_pb_column et_pb_column_1_2 et_pb_column_1 et_had_animation" style="">
        
        
        
        
        <div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
        
        
        
        
        <div class="et_pb_text_inner"><h1>Consult the EU AI Act</h1></div>
    </div><div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">
        
        
        
        
        <div class="et_pb_text_inner"><p>This page helps you navigate the EU Artificial Intelligence Act.</p></div>
<p>The Act is divided into 12 chapters, each containing a number of articles, and contains 13 annexes. You can consult the Act by article, open the annexes or use the search function to find specific information.</p></div>
    </div>
    </div>
        <!-- <div class="et_pb_column et_pb_column_1_4 et_pb_column_2 et_pb_css_mix_blend_mode_passthrough et-last-child et_had_animation" style="">
        
        
        <div class="et_pb_with_border et_pb_module et_pb_text et_pb_text_3 et_clickable et_pb_section_video_on_hover  et_pb_text_align_left et_pb_bg_layout_light">
        
        
        
        
        <div class="et_pb_module et_pb_text et_pb_text_5  et_pb_text_align_left et_pb_bg_layout_light">
        
        
        
        
        <div class="et_pb_text_inner"><h4>Search in the Act</h4></div>
    </div><div class="et_pb_module et_pb_search et_pb_search_0  et_pb_text_align_left et_pb_bg_layout_light">
        
        
        
        
        <form role="search" method="get" class="et_pb_searchform" action="https://artificialintelligenceact.eu/">
            <div>
                <input type="text" name="s" placeholder="What are you searching for?" class="et_pb_s">
                <input type="hidden" name="et_pb_searchform_submit" value="et_search_proccess">
                
                <input type="hidden" name="et_pb_include_posts" value="yes">
                <input type="hidden" name="et_pb_include_pages" value="yes">
                <input type="submit" value="Search" class="et_pb_searchsubmit" style="">
            </div>
        </form>
    </div>
    </div>
        
        
        
        
    </div><div class="et_pb_with_border et_pb_row et_pb_row_1 et_pb_gutters2"> -->
        <div class="et_pb_column et_pb_column_1_3 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough">
        
        
        
        
        <div class="et_pb_module et_pb_text et_pb_text_6  et_pb_text_align_left et_pb_bg_layout_light">
        
        
        
        
        <div class="et_pb_text_inner"><h2>Articles</h2>
<p>The EU AI Act is divided into 12 Chapters</p></div>
    </div><div class="et_pb_module et_pb_text et_pb_text_7  et_pb_text_align_left et_pb_bg_layout_light">
        
        
        
        
        <div class="et_pb_text_inner"><div class="aia-table-of-contents">


<div class="accordion-header active">
<p class="parent-title">Chapter I: General Provisions</p>
<button class="accordion-button"></button>
</div>



<div class="accordion-content activeCont">
            <p class="child-article"><a href="http://aicompass.barchero.it/article/1/">Article 1: Subject Matter</a></p>
            <p class="child-article"><a href="http://aicompass.barchero.it/article/2/">Article 2: Scope</a></p>
            <p class="child-article"><a href="http://aicompass.barchero.it/article/3/">Article 3: Definitions</a></p>
            <p class="child-article"><a href="http://aicompass.barchero.it/article/4/">Article 4: AI literacy</a></p>
            </div>


<div class="accordion-header active">
<p class="parent-title">Chapter II: Prohibited AI Practices</p>
<button class="accordion-button"></button>
</div>



<div class="accordion-content activeCont">
            <p class="child-article"><a href="http://aicompass.barchero.it/article/5/">Article 5: Prohibited AI Practices</a></p>
            </div>


<div class="accordion-header">
<p class="parent-title">Chapter III: High-Risk AI System</p>
<button class="accordion-button"></button>
</div>



<div class="accordion-content">
                    <p class="child-chapter">Section 1: Classification of AI Systems as High-Risk</p>

    
    
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/6/">Article 6: Classification Rules for High-Risk AI Systems</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/7/">Article 7: Amendments to Annex III</a></p>
                        <p class="child-chapter">Section 2: Requirements for High-Risk AI Systems</p>

    
    
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/8/">Article 8: Compliance with the Requirements</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/9/">Article 9: Risk Management System</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/10/">Article 10: Data and Data Governance</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/11/">Article 11: Technical Documentation</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/12/">Article 12: Record-Keeping</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/13/">Article 13: Transparency and Provision of Information to Deployers</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/14/">Article 14: Human Oversight</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/15/">Article 15: Accuracy, Robustness and Cybersecurity</a></p>
                        <p class="child-chapter">Section 3: Obligations of Providers and Deployers of High-Risk AI Systems and Other Parties</p>

    
    
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/16/">Article 16: Obligations of Providers of High-Risk AI Systems</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/17/">Article 17: Quality Management System</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/18/">Article 18: Documentation Keeping</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/19/">Article 19: Automatically Generated Logs</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/20/">Article 20: Corrective Actions and Duty of Information</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/21/">Article 21: Cooperation with Competent Authorities</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/22/">Article 22: Authorised Representatives of Providers of High-Risk AI Systems</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/23/">Article 23: Obligations of Importers</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/24/">Article 24: Obligations of Distributors</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/25/">Article 25: Responsibilities Along the AI Value Chain</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/26/">Article 26: Obligations of Deployers of High-Risk AI Systems</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/27/">Article 27: Fundamental Rights Impact Assessment for High-Risk AI Systems</a></p>
                        <p class="child-chapter">Section 4: Notifying Authorities and Notified Bodies</p>

    
    
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/28/">Article 28: Notifying Authorities</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/29/">Article 29: Application of a Conformity Assessment Body for Notification</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/30/">Article 30: Notification Procedure</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/31/">Article 31: Requirements Relating to Notified Bodies</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/32/">Article 32: Presumption of Conformity with Requirements Relating to Notified Bodies</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/33/">Article 33: Subsidiaries of Notified Bodies and Subcontracting</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/34/">Article 34: Operational Obligations of Notified Bodies</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/35/">Article 35: Identification Numbers and Lists of Notified Bodies</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/36/">Article 36: Changes to Notifications</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/37/">Article 37: Challenge to the Competence of Notified Bodies</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/38/">Article 38: Coordination of Notified Bodies</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/39/">Article 39: Conformity Assessment Bodies of Third Countries</a></p>
                        <p class="child-chapter">Section 5: Standards, Conformity Assessment, Certificates, Registration</p>

    
    
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/40/">Article 40: Harmonised Standards and Standardisation Deliverables</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/41/">Article 41: Common Specifications</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/42/">Article 42: Presumption of Conformity with Certain Requirements</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/43/">Article 43: Conformity Assessment</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/44/">Article 44: Certificates</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/45/">Article 45: Information Obligations of Notified Bodies</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/46/">Article 46: Derogation from Conformity Assessment Procedure</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/47/">Article 47: EU Declaration of Conformity</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/48/">Article 48: CE Marking</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/49/">Article 49: Registration</a></p>
                </div>


<div class="accordion-header">
<p class="parent-title">Chapter IV: Transparency Obligations for Providers and Deployers of Certain AI Systems</p>
<button class="accordion-button"></button>
</div>



<div class="accordion-content">
            <p class="child-article"><a href="http://aicompass.barchero.it/article/50/">Article 50: Transparency Obligations for Providers and Deployers of Certain AI Systems</a></p>
            </div>


<div class="accordion-header">
<p class="parent-title">Chapter V: General-Purpose AI Models</p>
<button class="accordion-button"></button>
</div>



<div class="accordion-content">
                    <p class="child-chapter">Section 1: Classification Rules</p>

    
    
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/51/">Article 51: Classification of General-Purpose AI Models as General-Purpose AI Models with Systemic Risk</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/52/">Article 52: Procedure</a></p>
                        <p class="child-chapter">Section 2: Obligations for Providers of General-Purpose AI Models</p>

    
    
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/53/">Article 53: Obligations for Providers of General-Purpose AI Models</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/54/">Article 54: Authorised Representatives of Providers of General-Purpose AI Models</a></p>
                        <p class="child-chapter">Section 3: Obligations of Providers of General-Purpose AI Models with Systemic Risk</p>

    
    
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/55/">Article 55: Obligations for Providers of General-Purpose AI Models with Systemic Risk</a></p>
                        <p class="child-chapter">Section 4: Codes of Practice</p>

    
    
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/56/">Article 56: Codes of Practice</a></p>
                </div>


<div class="accordion-header">
<p class="parent-title">Chapter VI: Measures in Support of Innovation</p>
<button class="accordion-button"></button>
</div>



<div class="accordion-content">
            <p class="child-article"><a href="http://aicompass.barchero.it/article/57/">Article 57: AI Regulatory Sandboxes</a></p>
            <p class="child-article"><a href="http://aicompass.barchero.it/article/58/">Article 58: Detailed Arrangements for, and Functioning of, AI Regulatory Sandboxes</a></p>
            <p class="child-article"><a href="http://aicompass.barchero.it/article/59/">Article 59: Further Processing of Personal Data for Developing Certain AI Systems in the Public Interest in the AI Regulatory Sandbox</a></p>
            <p class="child-article"><a href="http://aicompass.barchero.it/article/60/">Article 60: Testing of High-Risk AI Systems in Real World Conditions Outside AI Regulatory Sandboxes</a></p>
            <p class="child-article"><a href="http://aicompass.barchero.it/article/61/">Article 61: Informed Consent to Participate in Testing in Real World Conditions Outside AI Regulatory Sandboxes</a></p>
            <p class="child-article"><a href="http://aicompass.barchero.it/article/62/">Article 62: Measures for Providers and Deployers, in Particular SMEs, Including Start-Ups</a></p>
            <p class="child-article"><a href="http://aicompass.barchero.it/article/63/">Article 63: Derogations for Specific Operators</a></p>
            </div>


<div class="accordion-header">
<p class="parent-title">Chapter VII: Governance</p>
<button class="accordion-button"></button>
</div>



<div class="accordion-content">
                    <p class="child-chapter">Section 1: Governance at Union Level</p>

    
    
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/64/">Article 64: AI Office</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/65/">Article 65: Establishment and Structure of the European Artificial Intelligence Board</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/66/">Article 66: Tasks of the Board</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/67/">Article 67: Advisory Forum</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/68/">Article 68: Scientific Panel of Independent Experts</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/69/">Article 69: Access to the Pool of Experts by the Member States</a></p>
                        <p class="child-chapter">Section 2: National Competent Authorities</p>

    
    
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/70/">Article 70: Designation of National Competent Authorities and Single Point of Contact</a></p>
                </div>


<div class="accordion-header">
<p class="parent-title">Chapter VIII: EU Database for High-Risk AI Systems</p>
<button class="accordion-button"></button>
</div>



<div class="accordion-content">
            <p class="child-article"><a href="http://aicompass.barchero.it/article/71/">Article 71: EU Database for High-Risk AI Systems Listed in Annex III</a></p>
            </div>


<div class="accordion-header">
<p class="parent-title">Chapter IX: Post-Market Monitoring, Information Sharing and Market Surveillance</p>
<button class="accordion-button"></button>
</div>



<div class="accordion-content">
                    <p class="child-chapter">Section 1: Post-Market Monitoring</p>

    
    
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/72/">Article 72: Post-Market Monitoring by Providers and Post-Market Monitoring Plan for High-Risk AI Systems</a></p>
                        <p class="child-chapter">Section 2: Sharing of Information on Serious Incidents</p>

    
    
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/73/">Article 73: Reporting of Serious Incidents</a></p>
                        <p class="child-chapter">Section 3: Enforcement</p>

    
    
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/74/">Article 74: Market Surveillance and Control of AI Systems in the Union Market</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/75/">Article 75: Mutual Assistance, Market Surveillance and Control of General-Purpose AI Systems</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/76/">Article 76: Supervision of Testing in Real World Conditions by Market Surveillance Authorities</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/77/">Article 77: Powers of Authorities Protecting Fundamental Rights</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/78/">Article 78: Confidentiality</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/79/">Article 79: Procedure at National Level for Dealing with AI Systems Presenting a Risk</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/80/">Article 80: Procedure for Dealing with AI Systems Classified by the Provider as Non-High-Risk in Application of Annex III</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/81/">Article 81: Union Safeguard Procedure</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/82/">Article 82: Compliant AI Systems Which Present a Risk</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/83/">Article 83: Formal Non-Compliance</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/84/">Article 84: Union AI Testing Support Structures</a></p>
                        <p class="child-chapter">Section 4: Remedies</p>

    
    
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/85/">Article 85: Right to Lodge a Complaint with a Market Surveillance Authority</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/86/">Article 86: Right to Explanation of Individual Decision-Making</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/87/">Article 87: Reporting of Infringements and Protection of Reporting Persons</a></p>
                        <p class="child-chapter">Section 5: Supervision, Investigation, Enforcement and Monitoring in Respect of Providers of General-Purpose AI Models</p>

    
    
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/88/">Article 88: Enforcement of the Obligations of Providers of General-Purpose AI Models</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/89/">Article 89 : Monitoring Actions</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/90/">Article 90: Alerts of Systemic Risks by the Scientific Panel</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/91/">Article 91: Power to Request Documentation and Information</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/92/">Article 92: Power to Conduct Evaluations</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/93/">Article 93: Power to Request Measures</a></p>
                    <p class="child-article child-chapterarticle"><a href="http://aicompass.barchero.it/article/94/">Article 94: Procedural Rights of Economic Operators of the General-Purpose AI Model</a></p>
                </div>


<div class="accordion-header">
<p class="parent-title">Chapter X: Codes of Conduct and Guidelines</p>
<button class="accordion-button"></button>
</div>



<div class="accordion-content">
            <p class="child-article"><a href="http://aicompass.barchero.it/article/95/">Article 95: Codes of Conduct for Voluntary Application of Specific Requirements</a></p>
            <p class="child-article"><a href="http://aicompass.barchero.it/article/96/">Article 96: Guidelines from the Commission on the Implementation of this Regulation</a></p>
            </div>


<div class="accordion-header">
<p class="parent-title">Chapter XI: Delegation of Power and Committee Procedure</p>
<button class="accordion-button"></button>
</div>



<div class="accordion-content">
            <p class="child-article"><a href="http://aicompass.barchero.it/article/97/">Article 97: Exercise of the Delegation</a></p>
            <p class="child-article"><a href="http://aicompass.barchero.it/article/98/">Article 98: Committee Procedure</a></p>
            </div>


<div class="accordion-header">
<p class="parent-title">Chapter XII: Penalties</p>
<button class="accordion-button"></button>
</div>



<div class="accordion-content">
            <p class="child-article"><a href="http://aicompass.barchero.it/article/99/">Article 99: Penalties</a></p>
            <p class="child-article"><a href="http://aicompass.barchero.it/article/100/">Article 100: Administrative Fines on Union Institutions, Bodies, Offices and Agencies</a></p>
            <p class="child-article"><a href="http://aicompass.barchero.it/article/101/">Article 101: Fines for Providers of General-Purpose AI Models</a></p>
            </div>


<div class="accordion-header">
<p class="parent-title">Chapter XIII: Final Provisions</p>
<button class="accordion-button"></button>
</div>



<div class="accordion-content">
            <p class="child-article"><a href="http://aicompass.barchero.it/article/102/">Article 102: Amendment to Regulation (EC) No 300/2008</a></p>
            <p class="child-article"><a href="http://aicompass.barchero.it/article/103/">Article 103: Amendment to Regulation (EU) No 167/2013</a></p>
            <p class="child-article"><a href="http://aicompass.barchero.it/article/104/">Article 104: Amendment to Regulation (EU) No 168/2013</a></p>
            <p class="child-article"><a href="http://aicompass.barchero.it/article/105/">Article 105: Amendment to Directive 2014/90/EU</a></p>
            <p class="child-article"><a href="http://aicompass.barchero.it/article/106/">Article 106: Amendment to Directive (EU) 2016/797</a></p>
            <p class="child-article"><a href="http://aicompass.barchero.it/article/107/">Article 107: Amendment to Regulation (EU) 2018/858</a></p>
            <p class="child-article"><a href="http://aicompass.barchero.it/article/108/">Article 108: Amendments to Regulation (EU) 2018/1139</a></p>
            <p class="child-article"><a href="http://aicompass.barchero.it/article/109/">Article 109: Amendment to Regulation (EU) 2019/2144</a></p>
            <p class="child-article"><a href="http://aicompass.barchero.it/article/110/">Article 110: Amendment to Directive (EU) 2020/1828</a></p>
            <p class="child-article"><a href="http://aicompass.barchero.it/article/111/">Article 111: AI Systems Already Placed on the Market or put into Service and General-Purpose AI Models Already Placed on the Marked</a></p>
            <p class="child-article"><a href="http://aicompass.barchero.it/article/112/">Article 112: Evaluation and Review</a></p>
            <p class="child-article"><a href="http://aicompass.barchero.it/article/113/">Article 113: Entry into Force and Application</a></p>
            </div>


</div><style>
.content {
    margin: 2rem 4rem;
}



h2#title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.et_pb_css_mix_blend_mode_passthrough {
    border: #3B7BCE 1px solid;
    border-radius: 6px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #3b7bce7e;
    margin-bottom: 2rem;
}

.aia-table-of-contents {
}

body ul {
    padding: 0;
}

.accordion-header {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: baseline;
cursor: pointer;
margin: 8px 0 4px 0;
padding: 2px 0 0 0;
user-select: none;
border-top: 1px dashed lightgray;
}
.accordion-header:hover {
color: #3B7BCE
}

.parent-title {
font-size: 16px;
padding-top: 8px;
width: 80%;
user-select: auto;
font-weight: bold;
}
.accordion-button {
margin-left: 6px;
border-color: transparent;
background-color: transparent;
}
.accordion-content {
max-height: 0;
overflow: hidden;
padding-top: 0;
}
.accordion-content.activeCont {
max-height: 100%;
}
.child-article {
padding-left: 18px;
padding-top: 0;
padding-bottom: 0em;
font-size: 14px;
line-height: 1.35;
margin-top: 0;
}
.child-article a {
    text-decoration: none;
}

.child-article a:hover {
    text-decoration: none;
    color: #3B7BCE;
}

.child-chapter {
padding-left: 18px;
padding-top: 0em;
padding-bottom: 0em;
font-size: 15px;
line-height: 1.35;
}
.child-chapterarticle {
padding-left: 32px;
}
.accordion-header:after {
content: "+";
}
.active:after {
content: "-";
}

.annexes-list a {
    text-decoration: none;
}

</style><script>var accHead = document.getElementsByClassName("accordion-header");
var i;
for (i = 0; i < accHead.length; i++) {
accHead[i].addEventListener("click", function () {
this.classList.toggle("active");
var accCont = this.nextElementSibling;
accCont.classList.toggle("activeCont")
});
}</script></div>
    </div>
    </div><div class="et_pb_column et_pb_column_1_3 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough">
        
        
        
        
        <div class="et_pb_module et_pb_text et_pb_text_8  et_pb_text_align_left et_pb_bg_layout_light">
        
        
        
        
        <div class="et_pb_text_inner"><h2>Annexes</h2>
<p>Annexes offer additional information to complement the articles.</p></div>
    </div><div class="et_pb_module et_pb_text et_pb_text_9  et_pb_text_align_left et_pb_bg_layout_light">
        
        
        
        
        <div class="et_pb_text_inner"><div class="annexes-list">

<a href="http://aicompass.barchero.it/annex/1/">
<div class="annex-wrapper">
    <p class="annex">Annex I: List of Union Harmonisation Legislation</p>
</div>
</a>
<a href="http://aicompass.barchero.it/annex/2/">
<div class="annex-wrapper">
    <p class="annex">Annex II: List of Criminal Offences Referred to in Article 5(1), First Subparagraph, Point (h)(iii)</p>
</div>
</a>
<a href="http://aicompass.barchero.it/annex/3/">
<div class="annex-wrapper">
    <p class="annex">Annex III: High-Risk AI Systems Referred to in Article 6(2)</p>
</div>
</a>
<a href="http://aicompass.barchero.it/annex/4/">
<div class="annex-wrapper">
    <p class="annex">Annex IV: Technical Documentation Referred to in Article 11(1)</p>
</div>
</a>
<a href="http://aicompass.barchero.it/annex/5/">
<div class="annex-wrapper">
    <p class="annex">Annex V: EU Declaration of Conformity</p>
</div>
</a>
<a href="http://aicompass.barchero.it/annex/6/">
<div class="annex-wrapper">
    <p class="annex">Annex VI: Conformity Assessment Procedure Based on Internal Control</p>
</div>
</a>
<a href="http://aicompass.barchero.it/annex/7/">
<div class="annex-wrapper">
    <p class="annex">Annex VII: Conformity Based on Assessment of the Quality Management System and an Assessment of the Technical Documentation</p>
</div>
</a>
<a href="http://aicompass.barchero.it/annex/8/">
<div class="annex-wrapper">
    <p class="annex">Annex VIII: Information to be Submitted upon the Registration of High-Risk AI Systems in Accordance with Article 49</p>
</div>
</a>
<a href="http://aicompass.barchero.it/annex/9/">
<div class="annex-wrapper">
    <p class="annex">Annex IX: Information to be Submitted upon the Registration of High-Risk AI Systems Listed in Annex III in Relation to Testing in Real World Conditions in Accordance with Article 60</p>
</div>
</a>
<a href="http://aicompass.barchero.it/annex/10/">
<div class="annex-wrapper">
    <p class="annex">Annex X: Union Legislative Acts on Large-Scale IT Systems in the Area of Freedom, Security and Justice</p>
</div>
</a>
<a href="http://aicompass.barchero.it/annex/11/">
<div class="annex-wrapper">
    <p class="annex">Annex XI: Technical Documentation Referred to in Article 53(1), Point (a) - Technical Documentation for Providers of General-Purpose AI Models</p>
</div>
</a>
<a href="http://aicompass.barchero.it/annex/12/">
<div class="annex-wrapper">
    <p class="annex">Annex XII: Transparency Information Referred to in Article 53(1), Point (b) - Technical Documentation for Providers of General-Purpose AI Models to Downstream Providers that Integrate the Model into Their AI System</p>
</div>
</a>
<a href="http://aicompass.barchero.it/annex/13/">
<div class="annex-wrapper">
    <p class="annex">Annex XIII: Criteria for the Designation of General-Purpose AI models with Systemic Risk Referred to in Article 51</p>
</div>
</a>

</div><style>.annexes-list {
display: grid;
grid-template-columns: repeat(1, 1fr);
grid-gap: 4px;
}
.annex-wrapper {
padding: 8px 14px;
border: 1px solid lightgray;
border-radius: 4px;
font-size: 16px;
transition: .2s;
}
.annex-wrapper:hover {
background-color: rgb(236, 242, 250);
transition: .2s;
}</style></div>
    </div>
    </div></div>
    </div>       
        
    </div>		</div>
</div>
                </div>

        
        </article>

    

</div>
</ul>
{% endblock %}
