{% extends "base.html" %}

{% block content %}
<h1>AI Evaluator</h1>
<p>Please enter the AI system information to evaluate it based on the AI Act.</p>
<div class="evaluator">
    <div class="ai_evaluator_form box">
        <h2>Find out which articles relate to your AI system</h2>
        <form>
            
        </form>
        <div id="ai_evaluator_results">
            <h2>Output</h2>
    
        </div>
    </div>
    <div class="helps">
        <div class="summary box">
            <h3>Helpdesk</h3>
            <h4>Summary of the article</h4>
        </div>
        <div class="definitions box">
            <h3>Helpdesk</h3>
            <h4>Definitions</h4>
        </div>
    </div>
</div>


<style>
    .content {
        margin: 2rem 4rem;
        width: 100%;
    }

    .box {
        border: 1px solid #ccc;
        border-radius: 6px;
    }

    .evaluator {
        margin: 0 auto;
        display: flex;
        width: 80%;
    }

    .ai_evaluator_form {
        margin: 0 5% 0 auto;
        width: 70%;
        background-color: #3b7bce7e;
        padding: 20px;
    }

    .ai_evaluator_form label {
        font-weight: bold;
        margin-right: 10px;
    }

    .form_check {
        display: flex;
        align-items: left;
        width: 100%;
    }

    .text_form label {
        font-weight: bold;
        margin: 0.5rem 0;
        text-decoration: underline;
    }

    .text_form label a {
        text-decoration: none;
    }

    .text_form p {
        margin: 0.5rem 0;
    }

    .form-group {
        margin-bottom: 30px;
    }

    .ai_evaluator_form input[type="text"],
    .ai_evaluator_form input[type="number"],
    .ai_evaluator_form input {
        padding: 5px;
    }

    .ai_evaluator_form button {
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
    }

    .ai_evaluator_form button:hover {
        background-color: #0056b3;
    }

    #ai_evaluator_results {
        margin-top: 20px;
        border-top: 1px solid #ccc;
        padding-top: 20px;
    }

    .helps {
        display: flex;
        flex-direction: column;
        width: 30%;
    }

    .summary, .definitions {
        background-color: #3b7bce3f;
        padding: 10px;
        margin-bottom: 20px;
    }

    .helps h3 {
        font-size: medium;
        margin: 0.5rem;
    }

    .helps h4 {
        font-size: small;
        margin: 0.5rem;
    }

    .helps {
        font-size: small;
        text-align: justify;
    }
</style>

<script src="/static/js/form.js"></script>
{% endblock %}
