{% extends "base.html" %}
{% block content %}

<div class="article_annex">
    {{entry_title|safe}}
    <div class="summary">
        <h2>Summary</h2>
        {% for paragraph in summary %}
            {{ paragraph|safe }}
        {% endfor %}
    </div>
    {{ content | safe }}

<style>
    .content {
        margin: 2rem 4rem;
        text-align: justify;
    }
    .article_annex {
        margin: 0 auto;
        max-width: 800px;
        padding: 20px;
    }

    .summary {
        margin-top: 20px;
        border-top: 1px solid #ccc;
        padding-top: 20px;
    }

    .et_pb_post_content_0_tb_body {
        margin-top: 20px;
        border-top: 1px solid #ccc;
        padding-top: 20px;
    }
</style>
{% endblock %}